{% extends 'blog/base.html' %}
{%load static %}

{% block content %}
<div class="center">
  <div class="title">Contact</div>
  <div class="title" style="font-size: 30px;">Jack Heger : </div>
  <div class="sub_title" style="font-size: 20px;">jack.heger@edu.devinci.fr</div>
  
  <div class="title" style="font-size: 30px;">Jérôme Henin</div>
  <div class="sub_title" style="font-size: 20px;">jerome.henin@edu.devinci.fr</div>

  <div class="title" style="font-size: 30px;">François-xavier Herande Henin</div>
  <div class="sub_title" style="font-size: 20px;">francois-xavier.herande@edu.devinci.fr</div>



</div>
{% endblock %}