{% extends 'blog/base.html' %}
{%load static %}

{% block content %}

<div class="center">
  <div class="title">Python for Data Analysis</div>
  <div class="sub_title" style="font-size: 20px;">Made By : </div>
  <div class="sub_title" style="font-size: 35px;">Jack Heger</div>
  <div class="sub_title" style="font-size: 35px;"> FX Herande </div>
  <div class="sub_title" style="font-size: 35px;">Jérôme Henin</div>
  <div class="btns">
    <button onclick="window.location.href='{% url 'startnow' %}';">Start Now</button>
    
    
  </div>
</div>
{% endblock %}
